name: Core CI

permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Core
        uses: actions/checkout@v3

      - name: Checkout NiveriaAPI
        uses: actions/checkout@v3
        with:
          repository: toutouchien/NiveriaAPI
          path: NiveriaAPI
          token: ${{ secrets.REPO_TOKEN }}

      - name: Cache Maven local repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Set up Java 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - name: Build NiveriaAPI
        run: mvn -B -f NiveriaAPI/pom.xml clean install

      - name: Initialize paper-nms mappings
        run: mvn -B ca.bkaw:paper-nms-maven-plugin:1.4.5:init

      - name: Build NiveriaHolograms
        run: mvn -B clean verify